
.idea/misc.xml

.idea/modules.xml

.idea/PythonWinner.iml

.idea/vcs.xml

.idea/workspace.xml
.idea/workspace.xml___jb_tmp___

*.pyc

demo/downloads/

demo/test.pdf

tutorial/test.pdf

tutorial/myreportlib/test.pdf

demo/img1.jpg

demo/img2.jpg

cloud/baidu/key.conf
